@font-face {
    font-family: 'Operator Mono';
    src: url('OperatorMono-LightItalic.eot');
    src: url('OperatorMono-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('OperatorMono-LightItalic.woff2') format('woff2'),
        url('OperatorMono-LightItalic.woff') format('woff'),
        url('OperatorMono-LightItalic.ttf') format('truetype'),
        url('OperatorMono-LightItalic.svg#OperatorMono-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

