body {
  @include font-roboto(14px);
  // border: 4px solid $primary;
  padding-top:  60px;
  // background-color: #f6f6f6; //#e6e6d4; //#fbd685;
  // height: 100vh;

  @include breakpoint(sm-max) {
    padding-top: 30px;
  }
}

*::selection {
  background: $lite-gray; /* WebKit/Blink Browsers */
}

*::-moz-selection {
  background: $lite-gray; /* Gecko Browsers */
}

.wrapper {
  margin: 0 auto;
  width: calc(100vw - 15%);
  max-width: 1400px;
}

.wrapper-inner {
  margin: 0 auto;
  width: 72vw;

  @include breakpoint(sm-max) {
    width: auto;
  }
}

h2 {
  @include font-roboto-cond;
  font-weight: normal;
  font-size: 62px;
  text-transform: uppercase;
}
