body {
  @include font-roboto(14px);
  padding-top:  60px;

  @include breakpoint(sm-max) {
    padding-top: 30px;
  }
}

*::selection {
  background: $lite-gray; /* WebKit/Blink Browsers */
}

*::-moz-selection {
  background: $lite-gray; /* Gecko Browsers */
}

/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    // background: $primary-lighten;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(21,21,21,.3);
    transition: all 200ms ease-in;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  transition: all 200ms ease-in;
  background: $primary;
}

.wrapper {
  margin: 0 auto;
  width: calc(100vw - 15%);
  max-width: 1400px;
}

.wrapper-inner {
  margin: 0 auto;
  width: 72vw;

  @include breakpoint(sm-max) {
    width: auto;
  }
}

h2 {
  // @include font-roboto-cond;
  font-weight: normal;
  text-transform: uppercase;
}
