body {
  @include font-roboto(14px);
  border: 5px solid $primary;
  padding-top:  60px;
  height: 100vh;

  @include breakpoint(md-max) {

  }

  @include breakpoint(sm-max) {
    padding-top: 30px;
  }
}

.wrapper {
  // background-color: cyan;
  margin: 0 auto;
  width: calc(100vw - 200px);
  max-width: 1400px;


  @include breakpoint(md-max) {
    width: calc(100vw - 150px);
  }

  @include breakpoint(sm-max) {
    width: calc(100vw - 80px) !important;
  }
}
