.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: 32px;
  height: 32px;

  svg {
    width: 100%;
  }
}

.nav__list {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav__item--title {
  @include font-roboto-cond(18px, $black);
  margin-top: -2px;

  .nav__link {
    color: inherit;
    text-transform: uppercase;
    text-decoration: none;
  }
}

.nav__item--hamburger {
  margin-left: 32px;
}

.masthead {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 100px;
  margin-top: 70px;
}

.masthead__headline {
  @include font-roboto;
  @include font-size(72px);
  margin-bottom: 24px;
  font-weight: 300;
  line-height: 6rem;
  text-transform: uppercase;
}

.masthead__subheadline {
  @include font-roboto;
  @include font-size(36px);
  color: $primary-lighten;
  font-style: italic;
  font-weight: 300;
  margin-bottom: 48px;
  line-height: 3rem;
}

.masthead__social-list {
  display: flex;
  flex-direction: row;
}

.masthead__social-item {
  width: 28px;
  height: 28px;
  margin-right: 60px;

  svg {
    width: 100%;
  }
}
