.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 100px;

}

.header__logo {
  width: 24px;
  height: 24px;

  svg {
    width: 100%;
  }

  @include breakpoint(sm-max) {
    width: 20px;
    height: 20px;
  }
}

.menu {
  @include font-roboto-cond;
  font-size: 16px;
  font-weight: 500;
  position: relative;
}

.menu__title {
  margin-top: 1px;

  @include breakpoint(sm-max) {
    display: none;
  }
}

.menu__link {
	display: flex;
	align-items: center;
	text-transform: uppercase;
	text-decoration: none;
	color: #000;
}

.menu__hamb {
	display: block;
	margin-left: 12px;
  // margin-top: -1px;
	position: relative;
}

.menu__hamb-1 {
	display: block;
	width: 20px;
	height: 1.7px;
	background: #000;
	margin-bottom: 5px;
	transition: all 300ms ease;
}
.menu__hamb-2 {
	display: block;
	width: 16px;
	height: 1.7px;
	margin-left: 4px;
	background: #000;
	transition: all 300ms ease;

}

.menu__link--active .menu__hamb-1 {
	transform: rotate(-45deg) translateY(5px);
	height: 1.7px;
}

.menu__link--active .menu__hamb-2 {
	transform: rotate(45deg) translateY(-5px);
	width: 20px;
	height: 1.7px;
	margin-left: 0;
}

.nav {
  @include font-roboto-cond;
	text-align: right;
	opacity: 0;
  display: none;
	transition: all 100ms ease-out;
	position: absolute;
  right: 32px;
	top: 26px;
}

.visible {
	opacity: 1;
  display: block;
}

.visible .nav__item {
	&:nth-child(1) {
		animation: fadeDown 100ms;
	}
	&:nth-child(2) {
		animation: fadeDown 200ms;
	}
	&:nth-child(3) {
		animation: fadeDown 300ms;
	}
	&:nth-child(4) {
		animation: fadeDown 400ms;
	}
}

@keyframes fadeDown {
	from {
		transform: translateY(-10px);
	}
	to {
		transform: translateY(0);
	}
}

.nav__item {
	margin-bottom: 8px;
}

.nav__item-link {
	color: $primary-lighten;
	text-decoration: none;
	text-transform: uppercase;

	&:hover {
		color: #000;
	}

  &[href="#"] {
    cursor: not-allowed;
  }
}

.masthead {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.masthead__headline {
  font-family: "Operator SSm";
  @include font-size(48px);
  color: $primary;
  margin-bottom: 24px;
  font-weight: 300;
  line-height: 110%;

  .typed {
    font-weight: bold;
  }

  @include breakpoint(md-max) {
    @include font-size(36px);
    font-size: 7.65vw;
  }

  @include breakpoint(sm-max) {
    @include font-size(24px);
    font-size: 7.82vw;
    margin-bottom: 12px;
  }
}

.masthead__subheadline {
  font-family: "Operator Mono", serif;
  @include font-size(28px);
  color: $primary-lighten;
  font-style: italic;
  font-weight: 300;
  margin-bottom: 48px;
  line-height: 110%;

  &::before {
    content: "<!-- ";
    color: rgba(21, 21, 21, 0.3);
    cursor: text;
  }

  &::after {
    content: " -->";
    color: rgba(21, 21, 21, 0.3);
    cursor: text;
  }

  @include breakpoint(md-max) {
    @include font-size(24px);
    font-size: 3.82vw;
  }

  @include breakpoint(sm-max) {
    @include font-size(16px);
    font-size: 5vw;
    margin-bottom: 24px;
  }
}

.masthead__social-list {
  display: flex;
  flex-direction: row;
}

.masthead__social-item {
  width: 24px;
  height: 24px;
  margin-right: 50px;

  svg {
    width: 100%;
  }

  @include breakpoint(sm-max) {
    width: 20px;
    width: 6vw;
    height: 20px;
    margin-right: 8.4vw;
    margin-right: 30px;
  }
}

.masthead__social-link {
  svg * {
    fill: $primary;
    transition: all 300ms ease-in-out;
  }

  &:hover {
    svg * {
      fill: $black;
    }
  }
}

.hire {
  @include font-roboto-cond;
  font-weight: 300;
  @include font-size(16px);
  color: $primary-lighten;
  text-transform: uppercase;
  position: absolute;
  bottom: -150px;
}

.hire__link {
  color: $primary;
  text-decoration: none;

  &:hover {
    color: #000;
  }
}

.left {
	width: 1px;
  background-color: rgba(0,0,0,.05);
  position:absolute;
  top:0;
  bottom:0;
  left: 24vh;
  z-index: -10;
}
.center {
	width: 1px;
  background-color: rgba(0,0,0,.05);
  position:absolute;
  top:0;
  bottom:0;
  right: 50vw;
  z-index: -10;
}
.right {
	width: 1px;
  background-color: rgba(0,0,0,.05);
  position:absolute;
  top:0;
  bottom:0;
  right:24vh;
  z-index: -10;
}
