@keyframe fadeUp {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.projects {
  animation: fadeUp 1s;
}
.projects__item {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-bottom: 216px;

  img {
    width: 100%;
    height: auto;
  }

  @include breakpoint(sm-max) {
    margin-bottom: 100px;
  }

  @include breakpoint(lg) {
    flex-flow: column wrap;
    margin-bottom: 150px;
  }
}

.projects__desc {
  flex: 0 1 30%;
  min-width: 250px;
  // margin-right: 5%;

  @include breakpoint(sm-max) {
    flex: 0 0 100%;
    margin-bottom: 16px;
  }

  @include breakpoint(lg) {
    margin-bottom: 32px;
  }

  @include breakpoint(md) {
    margin-bottom: 24px;
  }
}

.projects__title {
  position: relative;
  font-family: "Operator SSm";
  font-weight: normal;
  text-transform: uppercase;
  font-size: 62px;

  .projects__count {
    position: absolute;
    font-size: 14px;
    top: 8px;
    left: -25px;
    color: rgba(21, 21, 21, 0.3);

    @include breakpoint(sm-max) {
      display: none;
    }
  }

  @include breakpoint(sm-max) {
    font-size: 42px;
  }

  @include breakpoint(lg) {
    font-size: 54px;
  }
}

.projects__pic {
  flex: 0 0 60%;
  min-width: 300px;
  pointer-events: none;

  img {
    max-width: 630px;
    max-height: 400px;
  }

  @include breakpoint(sm-max) {
    flex: 0 0 100%;
  }
  @include breakpoint(lg) {
    flex: 0 0 100%;
  }
}

.projects__tag {
  margin-top: 24px;
  margin-bottom: 16px;

  @include breakpoint(sm-max) {
    margin-top: 16px;
    margin-bottom: 8px;
  }

  @include breakpoint(md) {
    margin-top: 16px;
    margin-bottom: 8px;
  }
}

.projects__tag-item {
  background-color: $lite-gray;
  padding: 6px 8px;
  height: 24px;
  vertical-align: middle;
  color: $primary-lighten;
  display: inline-block;
  border-radius: 2px;
  line-height: 100%;
  margin-right: 8px;
  margin-bottom: 8px;
}

.projects__text {
  @include font-roboto;
  @include font-size(14px);
  line-height: 130%;
  font-weight: normal;
  color: $primary-lighten;
  margin-bottom: 16px;

  @include breakpoint(sm-max) {
    margin-bottom: 8px;
  }
  @include breakpoint(md) {
    margin-bottom: 8px;
  }
}

.projects__button {
  @include font-roboto-cond;
  padding: 8px 16px 7px;
  background: $primary;
  font-weight: 300;
  text-decoration: none;
  display: inline-block;
  color: $white;
  text-transform: uppercase;
  border-radius: 2px;
  margin-right: 16px;

  &:hover {
    background: $black;
  }

  &:nth-child(1) {
    cursor: not-allowed;
  }

  @include breakpoint(md) {
    margin-top: 8px;
  }
}

.projects__button-title {
  margin-right: 6px;
}
